.navbar {
	font-family: 'Overpass', sans-serif;
    position:absolute;
    top:10px;
    z-index:10;
    background:rgba(0, 0, 0,.7)  ;
    width:100%;
}
.navbar-brand > img {
	width: 20px;
}


.backgroundblack{
	background-color: #000000;
}

.tecnico{
	background: url(../especialidad/img/informa.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	
}
.overlay-tecnico{
	background: rgba(19, 15, 64,.7);
}
.economia {
	background: url(../especialidad/img/economia2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.overlay-economia {
	background: rgba(19, 15, 64,.7);

}

.carousel-slide {
	object-fit: cover;
	height: 100%;
  }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&amp;display=swap');

.search_wrap{
	width: 500px;
	margin: 38px auto;
}

.search_wrap .search_box{
	position: relative;
	width: 500px;
	height: 60px;
}

.search_wrap .search_box .input{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 18px;
}

.search_wrap .search_box .btn{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	background: #000000;
	z-index: 1;
	cursor: pointer;
}

.search_wrap .search_box .btn.btn_common .fas{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: rgb(255, 255, 255);
	font-size: 20px;
}


.search_wrap.search_wrap_3 .search_box .input{
	padding-right: 80px;
}


.search_wrap.search_wrap_3 .search_box .input{
	border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn{
	right: 0px;
	border-radius: 50%;
}
 
.noti{

	display: flex !important;
	justify-content: center !important;
	flex-wrap: wrap !important;

  }

.card{
  
	display: flex !important;
	width: 30em !important;

  }

.modal-content{

padding: 0.5em;
border: 0.2em;
border-style: solid;
border-radius: 0.5em;

}

.ant-modal-footer{
	display: none;
}
.ant-modal-close{
	display: none;
}
